* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    caret-color: transparent;
  }
  
  .container {
      width: 100%;
      margin: auto;
      text-align: center;
    }
    
    .dice {
      text-align: center;
      display: inline-block;
    
    }
    
    body {
      background-color: #282a39;
    }
    
    h1 {
      margin: 30px;
      font-family: 'Lobster', cursive;
      text-shadow: 5px 0 #232931;
      font-size: 75px;
      color: #4ECCA3;
    }
    
    p {
      font-size: 2rem;
      color: #4ECCA3;
      font-family: 'Indie Flower', cursive;
    }
    
    img {
      width: 80%;
      border-radius: 10%;
      box-shadow: 20px 10px #232931;
    }
    
    .rbtn {
      display: block;
      text-align: center;
      margin: 10px;
      margin-left: 45%;
      min-width: 100px;
      margin-right: 45%;
      border: 3px solid rgb(192, 11, 11);
      text-decoration: none;
      font-family: cursive;
      border-radius: 35px;
      padding: 10px;
      color: #4ECCA3;
      transition: 0.2s all ease-in-out;
    }
  
    .rbtn:hover {
      background-color: wheat;
      color: black;
    }
  
    footer {
      margin-top: 5%;
      color: #EEEEEE;
      text-align: center;
      font-family: 'Indie Flower', cursive;
    
    }
    
